**/.project
**/.pydevproject
**/failed_tests/
**/test_out/
*.a
*.cbp
*.dll*
*.dylib*
*.gch
*.idea
*.log
*.pc
*.so*
*.swo
*.swp
*.user
*~
.cmake/*
/*.sh
/*.xml
/CPack*
/_CPack_Packages/
/build/
/cmake-build-*/
/install_manifest.txt
/libdvsdk.pc
/src/dv-runtime*
CMakeCache.txt
CMakeFiles/
Makefile
__pycache__
cmake_install.cmake
core*
dvConfig*.cmake
